$light-blue: #3ebac4; // Visa Money '20/20' color
$dark-blue: #252666; // Visa 'Money' 20/20 color
$white: #fff;
$indent__xs: 5px;
$indent__s: 10px;
$indent__m: 25px;
$indent__l: 30px;
$indent__xl: 40px;
$screen__s: 480px;
$screen__m: 768px;
$screen__l: 1024px;
$screen__xl: 1440px;

// Start Mixins

@mixin mq($args...) {
  $media-type: 'only screen';
  $media-type-key: 'media-type';
  $args: keywords($args);
  $expr: '';
  @if map-has-key($args, $media-type-key) {
    $media-type: map-get($args, $media-type-key);
    $args: map-remove($args, $media-type-key);
  }
  @each $key,
  $value in $args {
    @if $value {
        $expr: "#{$expr} and (#{$key}: #{$value})";
    }
  }
  @media #{$media-type} #{$expr} {
    @content;
  }
}

@mixin max-screen($max) {
  @include mq($max-width: $max) {
    @content;
  }
}

@mixin min-screen($min) {
  $min: $min + 1;
  @include mq($min-width: $min) {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}

// Finish Mixins

.App {
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

label {
  margin-right: $indent__s;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.homepage {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $indent__s;
    width: 100%;
    margin-left: $indent__xs;

    @include min-screen($screen__m) {
      flex-direction: row;
      justify-content: center;

      button {
        max-width: 250px;
        padding: $indent__s 0;
        width: 100%;

        &:not(:last-of-type) {
          margin-right: $indent__m;
        }
      }
    }

    a {
      text-decoration: none;
      color: $dark-blue;
    }

    button {
      background-color: $white;
      color: $dark-blue;

      @include hover {
        background-color: $light-blue;
      }
    }
  }

  .home-avatar {
    margin-bottom: $indent__m;
  }
}

.credits {
  color: $white;
  text-align: center;

  li {
    padding: $indent__xs 0;
  }
}

button {
  max-width: 400px;
  width: 100%;
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
  min-height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: $light-blue;
  color: $dark-blue;

  @include hover {
    background-color: $dark-blue;
    color: $white;
    cursor: pointer;
  }
}


// Funds List

.funds-list {
  padding-left: $indent__m;
  padding-right: $indent__m;

  &-name,
  &-location {
    text-align: left;
  }

  &-balance {
    text-align: right;
  }

  &-header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  &-container {
    .funds-list:nth-of-type(1) {
      background-color: $dark-blue;
    }

    .funds-list:nth-of-type(2) {
      background-color: $light-blue;
    }

    .funds-list:nth-of-type(1),
    .funds-list:nth-of-type(2) {
      .funds-list-name,
      .funds-list-location {
        color: $white;
      }
    }
  }
}

.fund-profile {
  text-align: left;
  display: block;
  position: relative;

  &-cell {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}