$light-blue: #3ebac4; // Visa Money '20/20' color
$dark-blue: #252666; // Visa 'Money' 20/20 color
$white: #fff;
$indent__xs: 5px;
$indent__s: 10px;
$indent__m: 25px;
$indent__l: 30px;
$indent__xl: 40px;
$screen__s: 480px;
$screen__m: 768px;
$screen__l: 1024px;
$screen__xl: 1440px;

// Start Mixins

@mixin mq($args...) {
  $media-type: 'only screen';
  $media-type-key: 'media-type';
  $args: keywords($args);
  $expr: '';
  @if map-has-key($args, $media-type-key) {
    $media-type: map-get($args, $media-type-key);
    $args: map-remove($args, $media-type-key);
  }
  @each $key,
  $value in $args {
    @if $value {
        $expr: "#{$expr} and (#{$key}: #{$value})";
    }
  }
  @media #{$media-type} #{$expr} {
    @content;
  }
}

@mixin max-screen($max) {
  @include mq($max-width: $max) {
    @content;
  }
}

@mixin min-screen($min) {
  $min: $min + 1;
  @include mq($min-width: $min) {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}

// Finish Mixins

.App {
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

label {
  margin-right: $indent__s;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.homepage {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $indent__s;
    width: 100%;
    margin-left: $indent__xs;

    @include min-screen($screen__m) {
      flex-direction: row;
      justify-content: center;

      button {
        max-width: 300px;
        width: 100%;

        &:not(:last-of-type) {
          margin-right: $indent__m;
        }
      }
    }

    button {
      background-color: $white;
      color: $dark-blue;

      @include hover {
        color: $dark-blue;
        background-color: $light-blue !important;
      }
    }
  }

  .home-avatar {
    margin-bottom: $indent__m;
  }
}

.credits {
  color: $white;
  text-align: center;

  li {
    padding: $indent__xs 0;
  }
}

button {
  max-width: 400px;
  width: 100%;
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
  min-height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: $light-blue;
  color: $dark-blue;

  @include hover {
    background-color: $dark-blue;
    color: $white;
    cursor: pointer;
  }
}


// Funds List

.funds-list-container {
  width: 100%;
  padding-left: $indent__m;
  padding-right: $indent__m;
  box-sizing: border-box;

  .add-button {
    float: right !important;
  }
}

.funds-list {
  width: 100%;
  position: relative;

  &-name-balance {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .see-fund {
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    transform: translateY(-40px);
  }

  &-location {
    display: flex;

    .location-icon {
      margin-right: $indent__s;
    }
  }

  &-header {
    text-align: center;
  }

  .table-divider {
    height: 2px;
    border: none;
    background-color:$dark-blue;
  }

  td {
    align-items: center;
  }
}

.fund-profile {
  text-align: left;
  display: block;
  position: relative;

  &-cell {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

form {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding: 0 $indent__s;

  input {
    width: 100% !important;
    height: 50px !important;
    font-size: 25px !important;
    margin-bottom: $indent__m;
  }

  label {
    text-align: left;
  }
}

.form-tab-labels label {
  margin: 0 auto;
}

.submit-button {
  width: 100%;
  max-width: 460px;

  @include hover {
    color: #252666 !important;
  }
}

.fund_description {
  margin-bottom: $indent__m;
}

.donations-list {
  text-align: left;
  font-size: 21px;

  li {
    padding: $indent__s 0;
    margin: 0 auto;
  }

  .donation-amount {
    color: green;
    font-weight: bold;
  }
}

#panel-Donations {
  display: inline-block;
}